* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: #a09038; */
    color:rgb(192, 192, 65);
    /* color: rgb(190, 56, 190); */
}

ul {
    list-style: none;
    /* font-size: 30px; */
    font-style: italic;
    font-weight:700;
}

a {
    text-decoration: none;
}

body {
    /* background-image: url(.img/Aula-dancaAerea-nissei.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed; */

    background: url(./images/Aula-dancaAerea-nissei.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;    
    justify-content:space-around;
    align-items: center;
    padding: 10px;
    /* border-bottom: 2px solid white; */
    /* box-shadow: 1px 1px 10px 1px white; */
    border-bottom: 15px ridge white;
    margin-bottom: 45px;
}

header ul {
    display: flex;
    
}

header ul li {
    padding: 5px;
    /* border-right: 2px dotted white;     */
}

/* header ul li:first-child {
    padding: 5px;
    border-left: 2px dotted white;    
} */

header ul li a:hover {
    transition: 300ms;

}

header ul li a:hover {
    color: white;
    text-decoration: underline;
    
}


.container {
    text-align: center;
}

.container .name h1 {
    font-size: 60px;
}

.container .name h5 {
    font-size: 25px;
    color: white;
}

#arrow {
     font-size: 35px;
     cursor: pointer;
     animation: blink 1s steps(5, start) infinite;     
}

#animation {
    transition: 300ms;
}
.active {
    display: block !important;    
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}
#about p {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
    font-weight: 500;
    color: rgb(192, 192, 65);
    background-color: black
}

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    /* border: thick double white; */
    padding: 25px;
}

.form > p {
    margin-bottom: 10px;
    font-weight: 800;
}

.form input {
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button {
    width: 15%;
    padding: 5px 10px;
    /* background-color: #c09717; */
    background: linear-gradient(to right, #c09717 50%, #9c551b 50% );
    background-size: 200% 100%;
    background-position: right bottom;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    /* transition: 300ms; */
    transition: all 300ms ease-out;
    margin-left: -5px;
}

.form button:hover {
    /* background-color: #9c551b; */
    background-position: left bottom;
    color: white;

}

@media only screen and (max-width: 768px) {
    .form {
        width: 100%;
    }

}
@media only screen and (max-width: 480px) {
    .container .name h1 {
        font-size: 30px;
    }

    .container .name h5 {
        font-size: 30px;
    }

    #about p {
        max-width: 80%;
        text-align: justify;
    }
}
